.App-bodyy{
    display:flex;
    justify-content: center;
 }

.App-body{
    display: flex; 
    padding:1rem;
    flex-wrap: wrap;
    flex-direction: column;
    max-width:100%;
   
 }

.App-form {
    background-color: rgb(173, 123, 131);
    padding:1rem;
    max-height:12rem;
    border: rgb(209, 172, 172) solid;
    
}


.App-tabla{
    padding:1rem;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.App-col{
  border-color: beige;
  border-style: dashed;
  min-width: 15rem;
  
}

p{
    word-break: break-word;
    
}
.App-cuadrado-de-tarea{
    max-width:15rem;
    border-color: beige;
    border-style:groove;
    padding:1rem;
    margin:1rem;
}
.App-col-titulo{
    font-size: 1.5rem;
    margin:1rem;
    background-color: rgb(173, 123, 131) ;
}